InsecureKeyLengthWarning

Warning at startup `python -m run` via studio

nsflow - /Users/228496/staging/neuro-san-studio/.venv/lib/python3.13/site-packages/jwt/api_jwt.py:153:
InsecureKeyLengthWarning: The HMAC key is 14 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
nsflow -   return self._jws.encode(